<div class="container mt-5 mb-5">
  <div class="form-group">
    <h4 style="color: #e84c3d;">About Us</h4>
    <hr class="hr" />
    <p class="text-white">
      This is Book Management website. Its easy to use and manage.
    </p>
  </div>
  <div class="form-group">
    <h4 style="color: #e84c3d;">Our Team</h4>
    <hr class="hr" />
    <div id="content">
      <div id="member1"><img src="../../assets/images/member.png" alt="Faizan Jariwala" /><span class="name">Faizan Jariwala</span><span class="position">Developer</span></div>
      <div id="member2"><img src="../../assets/images/member.png" alt="Mukul Patel" /><span class="name">Mukul Patel</span><span class="position">Designer</span></div>
      <div id="member3"><img src="../../assets/images/member.png" alt="Dpayne" /><span class="name">Dpayne</span><span class="position">Developer</span></div>
    </div>
  </div>
</div>
