<div class="container mt-5 mb-5">
  <div class="form-group">
    <h4 style="color: #e84c3d;">About US</h4>
    <hr class="hr" />
    <p class="text-white">
      This is Book Management website made to demonstrate MEAN Stack skills.
    </p>
  </div>
  <div class="form-group">
    <h4 style="color: #e84c3d;">Our Team</h4>
    <hr class="hr" />
    <div id="content">
      <div id="member1">
        <img src="../../assets/images/member.png" alt="Faizan Jariwala" />
        <span class="name">Faizan Jariwala</span>
        <span class="position">Developer</span>
      </div>
    </div>
  </div>
</div>